<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="flex">
                <div class="navbar-brand flex-1">
                    @ViewData["NavbarTitle"]
                </div>
                <div class="flex flex-1 flex-end">
                    <div>
                        <input type="text"
                               class="form-input"
                               placeholder="Search Stocks" />
                    </div>
                    <div>
                        <button type="submit"
                                class="button button-blue-back">
                            Login
                        </button>
                    </div>
                </div>
            </div>
            <ul id="page-links">
                <li>
                    <a asp-controller="Trade"
                       asp-action="GetAllStocks"
                    >All Stocks</a>
                </li>
                <li id="trade-link">
                    <a asp-controller="Trade"
                       asp-action="Index"
                       asp-route-stockSymbol="@ViewBag.StockSymbol"
                    >Trade</a>
                </li>
                <li id="order-link">
                    <a asp-controller="Trade" 
                       asp-action="GetOrders"
                       asp-route-stockSymbol="@ViewBag.StockSymbol"
                    >Orders</a>
                </li>
            </ul>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
