<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="flex">
                <div class="navbar-brand flex-1">
                    <i class="fa-sharp fa-solid fa-money-bill-trend-up"></i>
                    @ViewData["NavbarTitle"]
                </div>
                <div class="flex flex-1 flex-end">
                    <div>
                        <input type="text"
                               class="form-input"
                               placeholder="Search Stocks" />
                    </div>
                    <div>
                        <button type="submit"
                                class="button button-blue-back">
                            Login
                        </button>
                    </div>
                </div>
            </div>
            <ul id="page-links">
                <li id="all-stocks">
                    <a asp-controller="Trade"
                       asp-action="GetAllStocks"
                    >All Stocks</a>
                </li>
                <li id="top-25">
                    <a asp-controller="Stocks"
                       asp-action="Explore"
                    >Top 25 Stocks</a>
                </li>
                <li id="trade-link">
                    <a asp-controller="Trade"
                       asp-action="Index"
                       asp-route-stockSymbol="@ViewBag.StockSymbol"
                    >Trade</a>
                </li>
                <li id="order-link">
                    <a asp-controller="Trade" 
                       asp-action="GetOrders"
                       asp-route-stockSymbol="@ViewBag.StockSymbol"
                    >Orders</a>
                </li>
            </ul>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
